.contacts
    .contactsTriangle
    .contactsTitle.pgmTitle#contacts
        include svg/contacts.svg
    .contactsBox
        a.mapImage(href="mailto:post@proectoria.ru")
            include svg/contectEmail.svg
