#modalMenu.hidden
    .modalMenuHeader
        <svg class="logoToTop" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M53.7901 16L13.3521 24.1332L14.2133 39.8522L53.7901 16Z" fill="#3D7FBB"/>
        <path d="M53.79 16L13.3519 24.1332L3 16.9867L53.79 16Z" fill="white"/>
        <path d="M53.7902 16L19.4549 26.1067L14.2134 39.8522L53.7902 16Z" fill="#eb5953"/>
        <path d="M53.7901 16L19.4548 26.1067L36.594 32.1467L53.7901 16Z" fill="white"/>
        </svg>
        <svg id="closeMobileMenu" class="pointer" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="4.4436" y="32.7278" width="40" height="4" rx="2" transform="rotate(-45 4.4436 32.7278)" fill="white"/>
        <rect x="6.82837" y="4" width="40" height="4" rx="2" transform="rotate(45 6.82837 4)" fill="white"/>
        </svg>

    .modalMenuBox
        .modalMenuItem.pointer(href="pgm") ПРОГРАММА
        .modalMenuItem.pointer(href="player") ТРАНСЛЯЦИЯ
        .modalMenuItem.pointer(href="themes") НАПРАВЛЕНИЯ
        .modalMenuItem.pointer(href="org") ОРГАНИЗАТОРЫ
        .modalMenuItem.pointer(href="partners") ПАРТНЁРЫ
        .modalMenuItem.pointer(href="map") МИЛЛЕНИУМ
        .modalMenuItem.pointer(href="contacts") КОНТАКТЫ
.head
    .headMenu
        .headMenuItem
            #mainLogo.mainLogo.pointer.logoToTop
                include svg/mainLogo.svg
        .headMenuItem
            .mainMenu
                .mainMenuItem.pointer(href="pgm") ПРОГРАММА
                .mainMenuItem.pointer(href="player") ТРАНСЛЯЦИЯ
                .mainMenuItem.pointer(href="themes") НАПРАВЛЕНИЯ
                .mainMenuItem.pointer(href="org") ОРГАНИЗАТОРЫ
                .mainMenuItem.pointer(href="partners") ПАРТНЁРЫ
                .mainMenuItem.pointer(href="map") МИЛЛЕНИУМ
                .mainMenuItem.pointer(href="contacts") КОНТАКТЫ
            #mobileHamburger.mobileHamburger.pointer
                include svg/hamburger.svg
    .bigLogo
        include svg/bigLogo.svg

