.map
    .mapTriangle
    .mapTitle.pgmTitle#map
        include svg/mapLogo.svg
    .mapBox
        .orgImage
            img.hideMobile(src="/images/map.png" alt="Карта")
            img.showMobile(src="/images/mapMobile.png" alt="Карта")

