.org
    .orgTriangle
    .orgTriangle2
    .orgTitle.pgmTitle#org
        include svg/orgLogo.svg
    .orgDecor
        .orgDecorIco
            include svg/orgDecor3.svg
    .orgDecor2
        .orgDecorIco
            include svg/orgDecor2.svg

    .orgBox
        .orgImageWr
            each i in [1, 2, 3, 4]
                .orgImageItem
                    img(src="/images/org"+i+".png")
            //img.hideMobile(src="/images/org.png" alt="Организаторы")
            //img.showMobile(src="/images/orgMobile.png" alt="Организаторы")
    .partBox#partners
        .partTitle
            include svg/part.svg
    .partBox
        .orgImageWr
            each i in [1, 2, 3, 4]
                .orgImageItem
                    img(src="/images/part" + i + ".png")
        //.orgImage
            img.hideMobile(src="/images/part.png" alt="Партнеры")
            img.showMobile(src="/images/partMobile.png" alt="Партнеры")

