.pgm
    .pgmHead
        .pgmTriangle
        .pgmTitle#pgm
            include svg/pgm.svg
        .pgmDownload.pointer(onclick="window.open('/images/pgm.pdf')")
            .pgmDownloadIco
                include svg/loader.svg
    .pgmBody
        .pgmBodyTitle 5-7 СЕНТЯБРЯ 2022 ГОДА
        .pgmBodySubTitle КЗЦ «МИЛЛЕНИУМ» ЯРОСЛАВЛЬ, КОТОРОСЛЬНАЯ НАБЕРЕЖНАЯ, 53
        .pgmDayBody
            .pgmDay.firstDay
                .pgmDayTitle
                    include svg/1day.svg
                .pgmDayItems
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText командная игра "Высокий старт"
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  экспозона партнеров Форума
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  мотивационные дискуссии с руководителями ведущих компаний России
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  грантовый конкурс
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  церемония открытия
            .pgmDayDivider
            .pgmDay.secondDay
                .pgmDayTitle
                    include svg/2day.svg
                .pgmDayItems
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText Тренинги и мастер-классы

            .pgmDayDivider
            .pgmDay.thirdDay
                .pgmDayTitle
                    include svg/3day.svg
                .pgmDayItems
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText Работа над реальными проектами
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  Всероссийский кейс-чемпионат

                    .pgmDayItemButtons
                        .pgmDayItemButton.red(onclick="window.open('/images/reglament.pdf')") РЕГЛАМЕНТ
                    .pgmDayItemButtons
                                .pgmDayItemButton.red(onclick="window.open('https://forms.yandex.ru/u/62f609fdd186fc42c1ec8259/')") РЕЗУЛЬТАТЫ
                                .pgmDayItemButton.green(onclick="window.open('https://forms.yandex.ru/u/6310af1f01581f8e37f408ed/')") приeм решений

                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  Питчинг лучших проектов
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  церемония закрытия



    .pgmDecor
        include svg/pgmDecor.svg
    include playerTitle
