.pgm
    .pgmHead
        .pgmTriangle
        .pgmTitle#pgm
            include svg/pgm.svg
        .pgmDownload.pointer
            .pgmDownloadIco
                include svg/loader.svg
    .pgmBody
        .pgmBodyTitle 5-7 СЕНТЯБРЯ 2022 ГОДА
        .pgmBodySubTitle КЗЦ «МИЛЛЕНИУМ» ЯРОСЛАВЛЬ, КОТОРОСЛЬНАЯ НАБЕРЕЖНАЯ, 53
        .pgmDayBody
            .pgmDay.firstDay
                .pgmDayTitle
                    include svg/1day.svg
                .pgmDayItems
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
            .pgmDayDivider
            .pgmDay.secondDay
                .pgmDayTitle
                    include svg/2day.svg
                .pgmDayItems
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
            .pgmDayDivider
            .pgmDay.thirdDay
                .pgmDayTitle
                    include svg/3day.svg
                .pgmDayItems
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ
                    .pgmDayItem
                        .pgmDayItemLogo
                            include svg/1dayPoint.svg
                        .pgmDayItemText  КОМАНДНАЯ ИГРА "ВЫСОКИЙ СТАРТ" ВЕДУЩИХ КОМПАНИЙ РОССИИ

    .pgmDecor
        include svg/pgmDecor.svg
    include playerTitle
