.player
    .playerBg
        //include svg/playerBg.svg
    .playerTriangle
    include playerTitle
    .playerDecor1
        include svg/playerDecor1.svg
    .playerDecor2
        include svg/playerDecor2.svg
    .playerDecor3
        include svg/playerDecor3.svg
    //.pgmDownload.pointer
        .pgmDownloadIco
            include svg/playerArchive.svg
    .playerBox#player
        .playerMenu
            .playerMenuItem.pointer#playerMenuItem1.active(iframe='<iframe width="720" height="405" src="https://rutube.ru/play/embed/3cb868e98249c583ef756aec91be37a7" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>  ') ДЛЯ УЧАЩИХСЯ
            .playerMenuItem.pointer#playerMenuItem2(iframe='<iframe width="720" height="405" src="https://rutube.ru/play/embed/3cb868e98249c583ef756aec91be37a7" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>  ') ДЛЯ ПЕДАГОГОВ
        .playerItem
            .videoWrapper
                img.zatichka(src="/images/009_ya22_trnsl_001.jpg")
                //<iframe width="720" height="405" src="https://rutube.ru/play/embed/3cb868e98249c583ef756aec91be37a7" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                //video#mainVideo( class="video-js vjs-big-play-centered" width="1280" height="720" controls="controls" playsinline poster="/images/009_ya22_trnsl_001.jpg")
                    //source(src="/images/009_ya22_trnsl_001.jpg")
