.theme
    .themeTriangle
    .themeTitle.pgmTitle#themes
        include svg/themeLogo.svg
    .themeBox
        .themeCol
            .themeItem
                include svg/theme11.svg
            .themeItem
                include svg/theme12.svg
            .themeItem
                include svg/theme13.svg
            .themeItem
                include svg/theme14.svg
        .themeCol
            .themeItem
                include svg/theme21.svg
            .themeItem
                include svg/theme22.svg
            .themeItem
                include svg/theme23.svg
            .themeItem
                include svg/theme24.svg
        .themeCol
            .themeItem
                include svg/theme31.svg
            .themeItem
                include svg/theme32.svg
            .themeItem
                include svg/theme33.svg
            .themeItem
                include svg/theme34.svg
    .themeBoxMobile
        .themeRow
            .themeItem
                include svg/theme11.svg
            .themeItem
                include svg/theme12.svg
        .themeRow
            .themeItem
                include svg/theme13.svg
            .themeItem
                include svg/theme14.svg
        .themeRow
            .themeItem
                include svg/theme21.svg
            .themeItem
                include svg/theme22.svg
        .themeRow
            .themeItem
                include svg/theme23.svg
            .themeItem
                include svg/theme24.svg
        .themeRow
            .themeItem
                include svg/theme31.svg
            .themeItem
                include svg/theme32.svg
        .themeRow
            .themeItem
                include svg/theme33.svg
            .themeItem
                include svg/theme34.svg
