extends layout
block head
  link(rel='stylesheet', href='/stylesheets/video-js.css')
  <meta property="og:title" content="ФЕДЕРАЛЬНЫЙ ФОРУМ ПРОФОРИЕНТАЦИИ «ПРОЕКТОРИЯ»" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://proektforum.ru" />
  <meta property="og:image" content="https://proektforum.ru/logo.png" />
  <meta property="og:description" content="Форум собирает лучших школьников со всей страны, которые уже успешно реализуют свои проекты" />
  <meta name="description" content="Форум собирает лучших школьников со всей страны, которые уже успешно реализуют свои проекты"/>

  <!-- Yandex.Metrika counter -->
  script.
    (function(m,e,t,r,i,k,a){m[i]=m[i] || function () {
      (m[i].a = m[i].a || []).push(arguments)
    };
      m[i].l=1 * new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(89967255, "init", {
    clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });

  <noscript><div><img src="https://mc.yandex.ru/watch/89967255" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
block content
  .mainTower
    include elements/head
    include elements/pgm
    include elements/player
    include elements/theme
    include elements/org_partners
    include elements/map
    include elements/contats
    include elements/footer
  .tst
  script(src="/javascripts/video.min.js")
  script(src="/javascripts/mainScript.js")
