extends layout
block head
  link(rel='stylesheet', href='/stylesheets/video-js.css')
  <meta property="og:title" content="ФЕДЕРАЛЬНЫЙ ФОРУМ ПРОФОРИЕНТАЦИИ «ПРОЕКТОРИЯ»" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://proektoria.rustv.ru/" />
  <meta property="og:image" content="https://proektoria.rustv.ru/logo.png" />
  <meta property="og:description" content="Форум собирает лучших школьников со всей страны, которые уже успешно реализуют свои проекты" />
  <meta name="description" content="Форум собирает лучших школьников со всей страны, которые уже успешно реализуют свои проекты"/>
block content
  .mainTower
    include elements/head
    include elements/pgm
    include elements/player
    include elements/theme
    include elements/org_partners
    include elements/map
    include elements/contats
    include elements/footer
  .tst
  script(src="/javascripts/video.min.js")
  script(src="/javascripts/mainScript.js")
